/*
A CSS stylesheet for the etch-a-sketch webpage.
*/

/*
Webpage body is split into 3 parts: header, content, footer.
All three employ flexbox displays to control their constituents.
*/

.header,
.content,
.footer {
    display: flex;
    align-items: start;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 24px;
}

.header, 
.footer {
    background-color: #bde0fe;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.content,
.footer {
    justify-content: center;
}

.content {
    background-color: rgb(230, 230, 230);
}

.banner-title {
    /* Need a cool font. */
    font-size: 32px;
    font-weight: 800;
}

.banner-content {
    /* Same ont as above */
    font-size: 16px;
    font-weight: 400;
}

.canvas-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.canvas-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.canvas {
    min-width: 400px;
    max-width: 400px;

    min-height: 400px;
    max-height: 400px;

    display: flex;

    border: 3px solid black;
}

.parameters,
.tips {
    display: flex;
    flex-direction: column;
    justify-content: start;

    flex: 1;

    /* border: 2px solid pink; */
}

.parameters {
    margin-right: 0px;
    margin-left: auto;
}

.tips {
    margin-right: auto;
    margin-left: 0px;
}

.parameter-perimeter {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 150px;
    gap: 24px;
}

.parameter-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    /* background-color: #bde0fe; */
}

.canvas-row {
    display: flex;
    justify-content: space-evenly;

    flex: 1;

    /* border: 1px dashed red; */
}

.canvas-element {
    background-color: white;
    /* border: 1px solid orange; */
    flex: 1;
}

.canvas-element-blank {
    flex: 1;
}

.canvas-container {
    display: flex;
    flex-direction: column;

    /* This works well for consuming all space in the container */
    flex: 1;

    /* border: 4px dashed green; */
}

.edge-length {
    max-width: 85px;
}

.edge-length-button {
    font-weight: 400;
}

.color-scheme {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* border: 2px solid purple; */
}

ul {
    list-style-type: none;
    padding-left: 50px;
}

li {
    padding: 8px;
}